@import "../../styles/styles";

.heroes-list {
  width: 100%;
  @include flex(row, space-between, flex-start);
  .loader_wrapper {
    width: 100%;
    @include flex(row, center, center);
    height: 30vh;
  }

  .no-heroes{
    width: 100%;
    text-align: center;
    color: $textColorDark;
    font-size: 3rem;
    padding: 20px;
  }

}
