@import "../../styles/styles";

.heroes-list {
  width: 100%;
  @include flex(row, center, flex-start);
  .no-heroes{
    width: 100%;
    text-align: center;
    color: $textColorDark;
    font-size: 3rem;
    padding: 20px;
  }
  @include _576 {
    @include flex(column, flex-start, stretch, nowrap);
  }
}
