@import "../../styles/styles";

.controls-field {
  padding: 20px 5px;
  @include flex(row, space-between, center);

  .search-field{
    @include flex(row, flex-start, center, nowrap);
    width: 100%;
    font-size: 2rem;
    max-width: 40%;
    @include _992 {
      max-width: 50%;
    }
    @include _576 {
      max-width: 100%;
      margin-bottom: 10px;
    }
  }

  .search-input {
    font-size: 2rem;
    background: none;
    color: $textColor;
    outline: none;
    &::placeholder {
      font-size: 1.7rem;
    }
    &:focus, &:hover {
      border-color: white;
      box-shadow: $box-shadow;
    }
  }
  .search-icon {
    font-size: 2.5rem;
    color: $textColor;
    transform: translateX(-150%);
  }
}