@import '../../styles/styles';

.filters_wrapper {
  position: relative;
  @include _576 {
    width: 100%;
  }
  .filters_title {
    min-width: 110px;
    background: none;
    color: $textColor;
    &:focus, &:hover {
      border-color: white;
      box-shadow: $box-shadow;
    }

    @include flex(row, space-between, center, nowrap);
    &_icon {
      font-size: 2rem;
      transform: translateY(-2px);
    }
  }

  .filters_dropdown {
    position: absolute;
    padding: 10px;
    right: 0;
    top: 130%;
    height: 40vh;
    background: $bgcolorLight1;
    width: 400px;
    z-index: 2;
    overflow: auto;
    box-shadow: $box-shadow1;
    border-radius: 5px 5px 0 0;
    @include flex(column, flex-start, flex-start, nowrap);
    .filters_checkbox {
      margin-left: 0;
      font-size: 1.7rem;
    }
    @include _576 {
      width: 100%;
    }
  }

  .filters_footer {
    position: absolute;
    width: 400px;
    right: 0;
    top: calc(130% + 40vh);
    z-index: 3;
    @include flex(row, space-between, center);
    padding: 5px;
    background: $bgcolorLight1;
    border-radius: 0 0 5px 5px;
    transform: translateY(-1%);
    box-shadow: $box-shadow1;
    @include _576 {
      width: 100%;
    }
  }

}